.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: cornsilk;
    /* background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("https://www.pexels.com/photo/silver-imac-displaying-collage-photos-1779487/"); */
    background-size: cover;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.registerForm> label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background: lightcoral;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}